<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<% @tweets.each do |e| %>
    <% time = Time.now %>
    <% dif = (time - e.tdate).round %>
    <% dif /= 60 %>
    <p>
        <%= e.message %>
        |<%= e.tdate %>
        |<%= dif %>分後
        <%= link_to '表示', "/tweets/#{e.id}" %>
        <%= link_to '削除', "/tweets/#{e.id}", method: :delete %>
        <%= link_to '編集', "/tweets/#{e.id}/edit" %>
    </p>
<% end %>

<p><%= link_to 'ツイートする', '/tweets/new' %></p>